@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --color-amarelo: #f3b106;
  --color-hover: #ef5a4c;
  --color-card: #fff8f8;
  --color-main-dark: #154551;
  --margin-page: 2rem 4rem;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

/* HEADER */

header {
  display: inline-block;
  position: relative;
  margin-left: 14px;
}

.header-title {
  font-family: 'Francois One', sans-serif;
  font-size: 80px;
  text-align: center;
  padding-left: 100px;
  padding-bottom: 100px;
  top: 20px;
  color: rgb(247, 242, 242);
  opacity: 95%;
  position: absolute;
  z-index: 2;
}


.header-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 300px;
  
}

/* NAVBAR */
.menu {
  background: #154551;
  flex: 1;
  min-width: 240px;
  max-width: 250px;
  display: flex;
  justify-content: flex-start;
}
.nav-list {
  padding: 0px;
  margin: 5px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 15px;
    height: 55px;
    list-style: none;
    border: none;
    background-size: 300% 100%;
    padding: 15px;
    min-height: 50px;
    min-width: 210px;

    border-radius: 30px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    
    background-image: linear-gradient(to right, #047C97, #1E9A94, #69E52B, #2bb673);
    
}
.nav-item:hover {
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.nav-item a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #eee5d5;
}

.nav-item:first-child.logo {
  background: transparent;
  box-shadow: none;
  margin-bottom: 100px;
  vertical-align: 50%;
  width: 180px;
}
.nav-item img {
  width: 200px;
}
.nav-item:nth-child(2) {
  margin-top: 250px;
}

.extra {
  margin-top: 100px;
}
.nav-img img{
  margin-top: 100px;
  max-width: 200px;
}

/* MAIN CONTENT */
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 5;
  min-height: 72vh;
  background-color: #154551;
}

.content {
  display: flex;
  flex-direction: row;
  background: #ecebee;
  border: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 15px;
  /* overflow: scroll; */
}

.content > article {
  flex: 4;
  min-height: 72vh;
  padding: 1rem;
}
.content > section {
  flex: 4;
  min-height: 72vh;
}

/* ------------- FOOTER ------------- */

.page-footer {
  font-family: "Poppins", sans-serif;
  background: rgb(54, 58, 63);
  height: auto;
  margin-left: 15px;
  
  color: #fff;
}

footer h4 {
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  margin-block-start: 2px;
  margin-block-end: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  text-transform: uppercase;
  
}

footer h5 {
  text-align: center;
font-size: 18px;
border-bottom: 1px solid white;
margin-bottom: 16px;
padding-bottom: 5px;
}

.footer-content {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  max-width: 1200px;
}

.footer-menu{
  display: flex;
  justify-content: flex-start;
  max-width: 350px;
  margin: 5px;
  

}

.footer-menu ul{
  display: flex;
  flex-direction: column;
  width: 300px;
  max-height: 200px;
  padding: 0px;
}

.footer-menu ul li{

display: block;
font-size: 15px;
padding: 1px;

}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: var(--color-amarelo);
}

.footer-menu img {
  width: 30px;
  padding-top: 10px;
}

.footer-end {
padding-bottom: 2px;
}

.copyright {
  text-align: center;
  color: #eee5d5;
  
  
}
